
html {
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    background-color: #BBBB00;
}

h1{
    margin:0;
}

#content {
    width: 190px;
    margin: auto; 
}

.container{
    height: 73%;
    width: 300px;
    margin: 0 auto;
    padding: 100.5px 0;
    background-color: linen;
}

@media(max-width: 600px){
    h1{
        font-size: 28px;
    }
}

@media(max-width: 480px){
    body {
        background-color: linen;
    }
    .container{
        width: 100%;
        margin: 0;
    }
    #content {
        width: 55%;
        margin: auto;
    }
    h1{
        font-size: 28px;
    }
}
